header {
    background: white ;

}

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
    background-color: #282A35;
  }

  .container{
    display: flex;
    /* align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center; */
    background-color:white;

  
  }



  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
    /* justify-items: center;
    align-items: center; */
    list-style-type: none;
    position: relative;
    background-color: white;
    font: Arial, sans-serif, black;
    }


li {
display: flex;
justify-content: space-between;
/* justify-content: center; */
flex-direction: row;
background-color: white;
font-size: 40px;
  font: Arial, sans-serif, black;

}


.button {
  background-color: #36AF57;
  border: none;
  color: white;
  padding: 5px 30px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 4px;
  cursor: pointer;
}

.learntocodesection{
  background-color: #282A35;
  border-color: solid 50px black;
  display: flex;
  justify-content: center;
    }


footer {
  background: white ;}
 